<h1><%= @pirate_ship.name %> Crew Members</h1>

<%= link_to 'New Crew Member', new_pirate_ship_crew_member_path(@pirate_ship), style: 'display: block; margin-bottom: 20px;' %>

<table id="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Role</th>
      <th>Active?</th>
    </tr>
  </thead>
  <tbody>
    <% @crew_members.each do |crew_member| %>
      <tr>
        <td><%= link_to crew_member.name, pirate_ship_crew_member_path(@pirate_ship, crew_member) %></td>
        <td><%= crew_member.age %></td>
        <td><%= crew_member.role %></td>
        <td><%= crew_member.active %></td>
      </tr>
    <% end %>
  </tbody>
</table>