<h1>New Crew Member</h1>

<%= form_with(model: [@pirate_ship, @crew_member], local: true, html: { id: 'form' }) do |form| %>
  
  <div class="form-field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>

  <div class="form-field">
    <%= form.label :role %>
    <%= form.text_field :role %>
  </div>

  <div class="form-field">
    <%= form.label :active %>
    <%= form.select :active, [[true], [false]] %>
  </div>

  <div class="form-field">
    <%= form.submit "Create Crew Member" %>
  </div>
<% end %>