<h1><%= @crew_member.name %></h1>
<p><strong>Name:</strong> <%= @crew_member.name %></p>
<p><strong>Age:</strong> <%= @crew_member.age %></p>
<p><strong>Role:</strong> <%= @crew_member.role %></p>
<p><strong>Missing Limbs?:</strong> <%= @crew_member.missing_limbs %></p>
<p><strong>Created At:</strong> <%= @crew_member.created_at %></p>
<p><strong>Updated At:</strong> <%= @crew_member.updated_at %></p>