<h1>Pirate Ships</h1>
<%= link_to 'New Pirate Ship', new_pirate_ship_path %>

<table class="crew-members-table">
  <thead>
    <tr>
      <th>Pirate Ship ID</th>
      <th>Ship Name</th>
      <th>Flag</th>
      <th>Ship Type</th>
      <th>Maximum Crew Size</th>
      <th>Current Crew Member Count</th>
      <th>Sunk?</th>
      <th>Created at</th>
      <th>Updated at</th>
    </tr>
  </thead>
  <tbody>
    <% @pirate_ships.each do |pirate_ship| %>
      <tr>
        <td><%= pirate_ship.id %></td>
        <td><%= pirate_ship.name %></td>
        <td><%= pirate_ship.flag %></td>
        <td><%= pirate_ship.ship_type %></td>
        <td><%= pirate_ship.maximum_crew %></td>
        <td><%= pirate_ship.crew_members.count %></td>
        <td><%= pirate_ship.sunk %></td>
        <td><%= pirate_ship.created_at %></td>
        <td><%= pirate_ship.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>