<h1>Pirate Ships</h1>
<%= link_to 'New Pirate Ship', new_pirate_ship_path, style: 'nav-link' %>

<table id="table">
  <thead>
    <tr>
      <th>Pirate Ship ID</th>
      <th>Ship Name</th>
      <th>Flag</th>
      <th>Ship Type</th>
      <th>Maximum Crew Size</th>
      <th>Current Crew Member Count</th>
      <th>Afloat?</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Edit Ship</th>
      <th>Delete Ship</th>
    </tr>
  </thead>
  <tbody>
    <% @pirate_ships.each do |pirate_ship| %>
      <tr>
        <td><%= pirate_ship.id %></td>
        <td><%= link_to pirate_ship.name, pirate_ship_path(pirate_ship) %></td>
        <td><%= pirate_ship.flag %></td>
        <td><%= pirate_ship.ship_type %></td>
        <td><%= pirate_ship.maximum_crew %></td>
        <td><%= link_to pirate_ship.crew_members.count, pirate_ship_crew_members_path(pirate_ship) %></td>
        <td><%= pirate_ship.afloat %></td>
        <td><%= pirate_ship.created_at %></td>
        <td><%= pirate_ship.updated_at %></td>
        <td><%= link_to 'Edit Ship', edit_pirate_ship_path(pirate_ship) %>
        <%# there has to be a better way of doing the below - this is what I landed on.%>
        <td><%= link_to 'Destroy ship', delete_pirate_ship_path(pirate_ship) %></td>
      </tr>
    <% end %>
  </tbody>
</table>