<h1>New Pirate Ship</h1>

<%= form_with model: @pirate_ship, local: true, data: { turbo: false }, html: { id: 'form' } do |form| %>
  <div class="form-field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-field">
    <%= form.label :ship_type %>
    <%= form.text_field :ship_type %>
  </div>

  <div class="form-field">
    <%= form.label :flag %>
    <%= form.text_field :flag %>
  </div>

  <div class="form-field">
    <%= form.label :maximum_crew %>
    <%= form.text_field :maximum_crew %>
  </div>

  <div class="form-field">
    <%= form.label :sunk %>
    <%= form.select :sunk, [['Yes', true], ['No', false]] %>
  </div>

  <div class="form-field">
    <%= form.submit "Create Pirate Ship" %>
  </div>
<% end %>