<h1><%= @pirate_ship.name %></h1>
<p><strong>Type:</strong> <%= @pirate_ship.ship_type %></p>
<p><strong>Flag:</strong> <%= @pirate_ship.flag %></p>
<p><strong>Maximum Crew:</strong> <%= @pirate_ship.maximum_crew %></p>
<p><strong>Sunk:</strong> <%= @pirate_ship.sunk ? 'Yes' : 'No' %></p>
<p><strong>Created At:</strong> <%= @pirate_ship.created_at %></p>
<p><strong>Updated At:</strong> <%= @pirate_ship.updated_at %></p>