<h1><%= @pirate_ship.name %></h1>


<table id="table">
  <thead>
    <tr>
      <th>Pirate Ship ID</th>
      <th>Ship Type</th>
      <th>Flag</th>
      <th>Maximum Crew Size</th>
      <th>Current Crew Member Count</th>
      <th>Afloat?</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Update Ship</th>
      <th>View Crew Members</th>
      <th>Destroy Ship</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @pirate_ship.id %></td>
      <td><%= @pirate_ship.ship_type %></td>
      <td><%= @pirate_ship.flag %></td>
      <td><%= @pirate_ship.maximum_crew %></td>
      <td><%= @pirate_ship.crew_members.count %></td>
      <td><%= @pirate_ship.afloat %></td>
      <td><%= @pirate_ship.created_at %></td>
      <td><%= @pirate_ship.updated_at %></td>
      <td><%= link_to 'Refit Ship', edit_pirate_ship_path(@pirate_ship) %> </td>
      <td><%= link_to 'Look at the roster', pirate_ship_crew_members_path(@pirate_ship) %> </td>
      <td><%= link_to 'Order to Scuttle', delete_pirate_ship_path(@pirate_ship) %> </td>
    </tr>
  </tbody>
</table>
