<h1><%= @pirate_ship.name %></h1>

<%= link_to 'Update Ship', edit_pirate_ship_path(@pirate_ship) %>
<%= link_to 'View Crew Members', pirate_ship_crew_members_path(@pirate_ship) %>


<table id="table">
  <thead>
    <tr>
      <th>Pirate Ship ID</th>
      <th>Ship Type</th>
      <th>Flag</th>
      <th>Maximum Crew Size</th>
      <th>Current Crew Member Count</th>
      <th>Afloat?</th>
      <th>Created at</th>
      <th>Updated at</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @pirate_ship.id %></td>
      <td><%= @pirate_ship.ship_type %></td>
      <td><%= @pirate_ship.flag %></td>
      <td><%= @pirate_ship.maximum_crew %></td>
      <td><%= @pirate_ship.crew_members.count %></td>
      <td><%= @pirate_ship.afloat %></td>
      <td><%= @pirate_ship.created_at %></td>
      <td><%= @pirate_ship.updated_at %></td>
    </tr>
  </tbody>
</table>
