<!DOCTYPE html>
<html>
  <head>
    <title>PirateApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to 'Pirate Ships Index', pirate_ships_path, id: 'pirate-ships-index-link', class: 'nav-link' %>
    <%= link_to 'Crew Members Index', all_crew_members_path, id: 'all-crew-index-link', class: 'nav-link' %>
    <%= yield %>
  </body>
</html>
